.tarefas {
  margin-top: 2rem;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  transition: all 600ms;
}

.tarefas li:hover {
  background: #51c5de;
}

.tarefas li .edit {
  margin-right: 1rem;
  color: #51c5de;
}

.tarefas li .delete {
  margin-right: 1rem;
  color: #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: black;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
